@use "sass:color";

.product {
  position: relative;
  width: 320px;
  height: 516px;
  color: #000;

  a,
  a:hover {
    color: inherit;
    text-decoration: none;
  }

  .productWrap {
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    z-index: 1;

    &:hover {
      z-index: 2;
      transform: scale(1.05);
    }
  }

  .image {
    position: relative;
    height: 240px;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform-origin: center;
      mix-blend-mode: multiply;
    }
  }

  .title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .descr {
    max-height: calc(1.4rem * 3);
    overflow: hidden;
    transition: max-height 0.3s;
    // transition-delay: 0.1s;
  }

  .price {
    margin-bottom: 0.5rem;
    color: #0005;
    font-weight: 600;
    font-size: 0.8rem;
    // border-bottom: 1px solid #555;

    .cost {
      margin-left: 1rem;
      color: #000;
      font-size: 1rem;
      font-weight: 800;
      letter-spacing: 2px;
    }
  }

  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
