.product {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: stretch;
  background-color: #ddd;
  border-radius: 10px;

  & + & {
    margin-top: 20px;
  }

  .image {
    flex: 0 0 auto;
    margin-right: 20px;
    position: relative;
    width: 200px;
    height: 150px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform-origin: center;
      mix-blend-mode: multiply;
    }
  }
}

.content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;

  .title {
    width: 60%;
  }

  .quantity {
    margin: 0 20px;

    .iconBtn {
      display: inline-block;
      margin: 0 10px;
      width: 20px;
      height: 20px;
      line-height: 20px;

      text-align: center;
      color: #0163fa;
      border-radius: 50%;
      background-color: transparent;
      transition: background 0.3s;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: rgba($color: #0163fa, $alpha: 0.3);
      }
      &.disabled {
        color: rgba(22, 22, 22, 0.4);
        pointer-events: none;
        &:hover {
          background-color: rgba(22, 22, 22, 0.3);
        }
      }
    }
    .count {
      color: black;
      font-size: 1.1rem;
    }
  }

  .closeIcon {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    outline: none;
    border: none;

    border-radius: 50%;
    transition: background 0.3s;

    &:hover {
      background-color: rgba(22, 22, 22, 0.1);
    }

    .close {
      width: 20px;
      height: 20px;
    }
  }
}
